{# <div class="pstyle">
<p class="textstyle">¿Sabía que...?</p>
<p class="textstyle">Para poder ejercer y realizar sus tareas y funciones<br>
como notaria o notario público, debe mantener<br>
actualizados sus datos, tales como teléfonos<br>
direcciones y correo electrónico </p>
</div> #}


<div class="card">
  <div class="cardcontent">
    <h5 class="cardtitle">{{ title }}</h5>
    <p class="cardtext">{{ text }}</p>
  </div>

  <div class="cardcta">
    <div>{{ pattern('button',{
        text: 'click here',
        url: '/node'
    }) }}</div>
  </div>
</div>

