<p class="pstyle">¿Sabía que...?</p>
<p class="pstyle">Para poder ejercer y realizar sus tareas y funciones<br>
como notaria o notario público, debe mantener<br>
actualizados sus datos, tales como teléfonos<br>
direcciones y correo electrónico </p>
